.container{
  margin-top: 40px;
}

body{
  background-color: #DDDDDD;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

.thumbnail {
  position: relative;
  display: inline-block;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-weight: bold;
}

.peopleCarouselImg img {
  width: auto;
  height: 225px;
  max-height: 225px;
}


.overflow-box{
  overflow-y: scroll; 
  overflow-x: hidden; 
  height: 600px;
  background-color: white;
  padding: 20px;
}

.tabelas{
  margin-left: auto;
  margin-right: auto;
  display: table;
  table-layout: fixed;
  text-align: center;
}

.tabelas li{

  display: table-cell;
  width: 25%;
  padding-right: 1px;
  height: auto;
  vertical-align: bottom;
}

.tabelas a{
  
  display: block;
  min-height: 100%;
  padding: 4px 10px;
  background-color: #222;
  color: white;
  border-radius: 6px 6px 0 0;
}

.formulario{
  border-style: hidden;
}

.formulario2{
  border-style: hidden;
  margin: 0 auto;
}

.checked{
  color: orange;
}

.tableFixHead          { 
  overflow-y: auto; 
  height: 300px; 
}

.tableFixHead thead th { 
  position: sticky; 
  top: 0; 
}

.showhide{
  display: none;
}


/* Base setup */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}
/* Zero stars rating */
.rate > label:last-child:before {
    content: "\f006 "; /* empty star outline */
}
/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}



.userNav {
  color: grey;
  margin-top: 1%;
  float: right;
}

.button {
  bottom: 10px;
  padding: 17px 35px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  font-size: 24px;
  font-family: sans-serif;
  transition: all 0.2s ease;
  overflow: hidden;
}
.button:not(:hover) {
    border-bottom: 10px solid black;
}
.button:hover {
  border-bottom: 8px solid orange;
  bottom: 8px;
  text-decoration:orange;
}
.button:active {
  border-bottom: 4px solid black;
  bottom: 0px;
}

/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: orange;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: orange;  } 